# Python
__pycache__/
*.py[cod]
*$py.class
*.spec

# Environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log
stremio_log.txt
media_rpc_log.txt
rpc_restart.flag

# Distribution
build/
dist/
*.exe

# IDEs
.vscode/
.idea/
*.user